body {
    margin: 0;
    padding: 0;
}

.header {
    border-bottom: 1px solid #e2e2e2;
    height: 35px;
    display: flex;
}
.headerInside {
    max-width: 1170px;
    margin: auto;
    padding: 0 3%;
    position: relative;
    display: block;
}
.headerIcons {
    display: flex;
    left: 0;
    justify-content: space-around;
    position: absolute;
}

#barsIcon {
    margin-right: 8px;
    border: 0;
    cursor: pointer;
    background-color: #fff;
    border-radius: 3px;
    padding: 8px 9px 9px;
}
#searchIcon {
    border: 0;
    cursor: pointer;
    background-color: #fff;
    border-radius: 3px;
    padding: 8px 9px 9px;
}
.sports {
    display: block;
    position: absolute;
    left: 105px;
    top: -15px;
    cursor: pointer;
}
#title {
    border: 0;
    cursor: pointer;
    background-color: #fff;
    border-radius: 3px;
    padding: 8px 9px 9px;
    margin: 0 130px 0 400px; 
    top: -3px;
    position: relative;
}
#title h3 {
    margin: 0 0;
}
#login {
    margin-right: 7px;
    height: 20px;
    margin-top: 10px;
    background-color: #567b95;
    border: 1px solid #326891;
    color: #fff;
    border-radius: 3px;
}

.topics {
    max-width: 1109px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid;
}
.topics h1 {
    font-size: 44px;
    line-height: 44px;
    margin-top: 6px;
    margin-bottom: 0;
}
.topicsTitle {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-right: 65px;
}
.subtopics {
    display: block;
    padding-top: 0;
    margin-top: 10px;
    border-top: 1px solid #e2e2e2;
}
.tops {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    font-size: 11px;
    line-height: 11px;
    padding-left: 0;
}
.tops li {
    margin-right: 8px;
    border-right: 1px solid ;
    padding-right: 8px;
}

.content {
    max-width: 1109px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

.article {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0
}

.article1 {
    border-top: 0 none;
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
    width: 70%;
    box-sizing: border-box;
    display: block;
}
.article1 img {
    width: 100%;
}

.article1Title {
    width: 540px;
    text-align: center;
    margin: 0 auto;
}
.article2 {
    border-left: 1px solid #e2e2e2;
    border-top: 0 none;
    padding-top: 0;
    padding: 25px 0 20px 0;
}
.articleImg {
    display: block;
    float: right;
    margin-right: 0;
    padding: 0 0 5px 15px;
    height: 75px;
    width: 75px;
}
.articleGroup {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
    width: 300px;
    margin-left: 30px;
}
.articleGroup h2 {
    margin-top: 0;
}
.articleGroup li {
    border-bottom: 1px solid #e2e2e2;
    padding-top: 5px;
}